beautifulsoup4==4.13.4
fastembed==0.6.1
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.63
langchain-huggingface==0.2.0
langchain-ollama==0.3.3
langchain-qdrant==0.2.0
langchain-text-splitters==0.3.8
langsmith==0.3.44
ollama==0.5.1
qdrant-client==1.14.2
requests==2.32.3
urllib3==2.4.0
safetensors==0.5.3
sentence-transformers==4.1.0
setuptools==80.9.0
tqdm==4.67.1
